<% if user_signed_in? %>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
      <nav class="navbar navbar-expand fixed-top navbar-light bg-light">
        <a href="#" class="navbar-brand">OurGoal</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>      
          <li class="dropdown nav-item">
           <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">アカウント</a>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <div class="d-flex flex-column text-center">
                  <a class="doropdown-item"><%= link_to"マイページ",user_path(current_user)%></a>
                  <a class="doropdown-item"><%= link_to"ログアウト",destroy_user_session_path, method: :delete%></a>
                </div>
              </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<% end %>